body {
    background-color: #dadada;
    /*background: url("flower.jpg");*/
}
span.senderId {
    font-weight: bold;
}
h1 {
    font-weight: bold;
    text-align: center;
}
h2 {
    width: 20%;
    margin: auto;
    border-radius: 7.5px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
h3 {
    font-weight: bold;
    text-align: center;
}
dt {
    font-weight: bold;
}
div.systemMessage {
    font-style: italic;
    background-color: #c0c0c0;
}
div.userMessage {
    width: 80%;
    border-radius: 7.5px;
    padding: 10px;
    margin: 3px;
}
div.userMessage-Me {
    float:right;
    background-color:#dcf8c6;
    overflow: auto;
}
div.userMessage-Them {
    float:left;
    background-color:#ffffff;
    overflow: auto;
}
div.timestamp {
    float:right;
    font-size: 70%;
}
div.overflow {
    overflow: auto;
}
